@media screen and (min-width: 0px){
    *{
        margin: 0;
        text-align: center;
        font-family: 'Montserrat';
        /*font-size: 15px;*/
    }
    body{
        background-color: whitesmoke;
        line-height: 2em;
        font-size: 1em;
        display: none;
    }

    img{
        border-radius: 50%;
    }

    h1{
        margin-bottom: 0.5em;
    }

    h5, #logo, .navbar-light .navbar-nav .nav-link{
        color: #007bff;
    }

    iframe{
        display: none;
    }

    #logo{
        font-size: 2em;
        margin-left: 5%;
    }
    #logo, .active{
        pointer-events: none;
        cursor: default;
    }

    .container {
        width: 80%;
        margin-top: 7%;
        min-height: 2em;
        padding: 0.2em;
    }

    #profile-pic{
        width: 200px;
        height: 200px;
    }

    .icons{
        width: 40px;
        height: 40px;
        margin: 10px 10px;
    }

    #projects{
        justify-content: space-around;
        flex-wrap: wrap;
        max-width: 1200px;
        display: flex;
    }

    .project{
        width: 95%;
        border: 1px solid lightgray;
        box-shadow: 0px 10px 20px #cad9fc, 0 6px 6px #9ab6f9;
        border-radius: 2%;
        margin-bottom: 10%;
        /*color: white;*/
        /*background: skyblue;*/
        font-weight: bolder;
    }

    .project-top{
        background: linear-gradient(to left bottom, #95F5D5, #5580DA);
        height: 40%;
        /*margin: 0;*/
    }

    .project-bottom{
        padding: 1em;
        margin-bottom: 10%;
    }

    .project-image{
        width: 30%;
        margin: 20px 0;
    }

    .project-title{
        color: #404040;
        /*color: white;*/
        text-decoration: underline;
        font-size: 1.4em;
        font-weight: bolder;
        word-wrap: break-word;
    }

    .project-link{
        display: flex;
        justify-content: center;

    }

    .project-desc{
        /*text-align: center;*/
        margin-top: 10px;
        color: #595959;
        font-weight: normal;
        font-size: 1.2em;
    }

    .resume{
        margin: 0 auto;
        max-width: 80%;
        display: block;
    }

    .resume-header{
        line-height: 1.6em;
        margin-bottom: 0.8em ;
    }

    .header-left > h2, .header-right > p{
        margin: 0;
    }

    .resume-section {
        margin-bottom: 1em;
    }
    .resume-items{
        margin-bottom: 1em;
    }

    .resume-item-title span{
        display: none;
    }

    .resume-items > p{
        text-align: left;
        margin-bottom: 0;
    }

    .resume-item-title > h6{
        text-align: left;
    }

    .plan-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .plan-item{
        margin-bottom: 1em;
    }

    .finished{
        text-decoration: line-through sienna;
    }
}

@media screen and (min-width: 650px){
    .project{
        width: 80%;
    }
}

@media screen and (min-width: 770px){
    .resume{
        display: none;
    }
    iframe{
        display: block;
        margin: 0 auto;
    }
    .resume-header{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .header-left{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-between;
    }

    .header-right{
        display: flex;
        align-items: flex-end;
        flex-direction: column;
    }

    .resume-section{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .resume-item-title{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .resume-item-title > h6{
        margin: 0;
    }

    .resume-item-title > span{
        display: inline;
        float: right;
    }

    .project{
        width: 45%;
        margin: 2%;
        max-width: 400px;
    }
}

@media screen and (min-width: 990px){
    .nav-link{
        margin-left: 3em;
    }
}
