*{
    margin: 0;
}
body{
    background: whitesmoke;
}

.nav{
    margin: 20px 50px 50px 0;
    position: relative;
}
.navbar-light .navbar-nav .nav-link, #logo{
    color: #007bff;
}

.container{
    height: 400px;
    width: 60%;
    text-align: center;
    margin-top: 20px;
}

.container h5, p, img{
    margin: 20px 0px
}

.container h5, .project-title{
    color: #007bff;

}

.container hr {
    width: 300px;
    margin: 0 auto;
}

.container img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: inline-block;
}

.icons{
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

.project-container{
    width: 95%;
    max-width: 1200px;
    height: 60%;
    margin: 100px auto;
}

#projects{
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    position: relative;
}

.project{
    border: 1px solid lightgray;
    border-radius: 15%;
    margin-bottom: 5% ;
    box-shadow: 3px 3px 3px 3px #333333;
    padding: 5px;
}

.project-link{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.project .mini-icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #333;
    margin: 10px 5px 0;
}
.project-image{
    width: 30%;
    min-width: 50px;
    display: block;
    margin: 20px auto;
    border-radius: 50%;
}

.project-title{
    text-align: center;
    margin-top: 10px;
    padding: 0 5px;
    font-weight: bold;
}

.project-desc{
    text-align: center;
    margin-top: 10px;
    padding: 0 5px;
}

.resume{
    line-height: 20px;
}

.resume p{
    margin: 5px 0;
}

.resume-header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.header-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 50px ;
}

.header-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.resume-section{
    margin: 30px 0;
    text-align: left;
}

.resume-items{
    padding-left: 20px;
    margin: 0 0 15px 0;
}

@media screen and (min-width: 200px){

    .header-right{
        display: flex;
        margin-top: 5px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .project{
        width: 70%;
        border: 1px solid lightgray;
        border-radius: 15%;
        margin-bottom: 5% ;
    }
}

@media screen and (min-width: 739px){
    .header-right{
        display: flex;

        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    }
}

@media screen and (min-width: 800px){
    .project{
        width: 40%;
        border: 1px solid lightgray;
        border-radius: 15%;
        margin-bottom: 5% ;
    }
}

@media screen and (min-width: 1200px){
    .project{
        width: 30%;
    }
}
