*{
    margin: 0;
}
body{
    background: whitesmoke;
}

h6 span{
    font-weight: normal;
    float: right;
    text-decoration: underline;


}
.nav{
    margin: 20px 50px 50px 0;
    position: relative;
}
.navbar-light .navbar-nav .nav-link, #logo, .container h5{
    color: #007bff;
}

#logo{
    font-size: 30px;
    margin-left: 40px;
}

.container{
    width: 60%;
    text-align: center;
    margin-top: 100px;
}

.container h5, p, img{
    margin: 20px 0px
}

.project-title{
    color: #090050;

}

.container hr {
    width: 300px;
    margin: 0 auto;
}

.container img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: inline-block;
}

.icons{
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

.project-container{
    width: 85%;
    max-width: 1200px;
    height: 50%;
    margin: 100px auto;


}

#projects{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    position: relative;
    height: auto;

}

.project{
    border: 1px solid lightgray;
    border-radius: 15%;
    margin-bottom: 5% ;
    box-shadow: 3px 3px 3px 3px #333333;
    padding: 5px;
}

.project-link{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.project .mini-icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #333;
    margin: 10px 5px 0;
}
.project-image{
    width: 30%;
    min-width: 50px;
    display: block;
    margin: 20px auto;
    border-radius: 50%;
    background-color: transparent;
}

.project-title{
    text-align: center;
    margin-top: 10px;
    padding: 0 5px;
    font-weight: bold;
}

.project-desc{
    text-align: center;
    margin-top: 10px;
    padding: 0 5px;
}

.resume{
    line-height: 20px;
}

.resume p{
    margin: 5px 0;
}

.resume-header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.header-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 50px ;
}

.header-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.resume-section{
    margin: 30px 0;
    text-align: left;
}

.resume-items{
    padding-left: 20px;
    margin: 0 0 15px 0;
}
.resume-items h6 {
    margin-bottom: 15px;
}

@media screen and (min-width: 200px) and (max-width: 722px){

    .container{
        width: 80%;
    }

    .header-right{
        display: flex;
        margin-top: 5px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .project{
        width: 90%;
        border: 1px solid lightgray;
        border-radius: 15%;
        margin-bottom: 10% ;
        background: #3cdab4;
        height: 80%;
    }

    .header-left, .header-right, .resume-header, .resume-section{
        margin: 0 auto 15px auto;
        align-items: center;
    }
    .resume-section p{
        align-items: flex-start;
    }
    .resume-item-title span{
        display: none;
    }

    .resume-section h4{
        text-align: center;
    }

}

@media screen and (min-width: 723px){

    .container{
        width: 60%;
    }
    .header-right{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    }

    .resume-item-title span{
        display: initial;
    }

    /*.resume-section h4{*/
    /*    text-align: initial;*/
    /*}*/
    /*.resume-header{*/
    /*    margin: 0;*/
    /*    align-items: initial ;*/
    /*}*/

}

@media screen and (min-width: 800px){
    .project{
        width: 40%;
        border: 1px solid lightgray;
        border-radius: 15%;
        margin-bottom: 5% ;
    }
}

@media screen and (min-width: 1200px){
    .project{
        width: 35%;
    }
}
