body{
    background: whitesmoke;
}

.nav{
    margin: 20px 50px 50px 0;
}

.container{
    height: 400px;
    width: 60%;
    text-align: center;
}

.container h5, p, img{
    margin: 20px 0px
}

.container h5{
    color: #007bff;
}

.container hr {
    width: 300px;
}

.container img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: inline-block;
}

.icons{
    width: 40px;
    height: 40px;
    margin: 0 10px;

}

.resume{
    line-height: 20px;
}

.resume p{
    margin: 5px 0;
}

.resume-header{
    display: flex;
    justify-content: space-between;

}

.header-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.resume-section{
    margin: 30px 0;
    text-align: left;
}

.resume-items{
    padding-left: 20px;
}